/* variables */
:root {
  /* colors */
  --buttonColor: #017bff;
  --buttonHoverColor: #0062ca;
  --primaryTextColor: #020202;
  --secondaryTextColor: #333333;
  --whiteColor: #fff;
  --backgroundColor: rgba(199, 199, 199, 0.6);
  --alertColor: rgb(197, 3, 3);
}
/* General Styles */
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
i {
  cursor: pointer;
}
span {
  color: var(--primaryTextColor);
  font-weight: bold;
}
/* Navbar Styles */
header{
  width: 100%;
  background-color: var(--whiteColor);
  box-shadow: 0 2px 10px 0 #e0e0e0;
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
  width: 4rem;
  height: 80%;
}
.iconUser {
  color: var(--buttonColor);
  margin-left: 4rem;
}
.iconBars {
  margin-right: 4rem;
}
/* Main Style */
.container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
  height: auto;
  min-width: 24rem;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.boxTitle {
  color: var(--primaryTextColor);
  margin-bottom: 1rem;
}
.boxText {
  color: var(--secondaryTextColor);
  letter-spacing: 0.5px;
  line-height: 1.2rem;
}
/* Button's Style*/
.buttonAlert,
.buttonModal-1,
.buttonModal-2,
.buttonPopup,
.closeModal-1,
.closeAlert,
.closePopup,
.buttonFree {
  margin: auto;
  width: 30%;
  min-width: 10rem;
  min-height: 2.5rem;
  background-color: var(--buttonColor);
  color: var(--whiteColor);
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  outline: none;
}
.buttonModals {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.freeSection {
  display: flex;
  justify-content: center;
  width: 25%;
  padding: 1rem;
}

/* Popup Notifications Style */
.alertContainer.show,
.modalContainer.show,
.popupContainer.show,
.freeActionSection.show {
  opacity: 1;
  pointer-events: auto;
}
/* Alert Box */
.alertContainer {
  width: 100%;
  height: 15rem;
  position: fixed;
  top:0;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
}
.alert {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  min-width: 15rem;
  margin: auto;
  background-color: var(--whiteColor);
  border-radius: 0rem 0rem 2rem 2rem;
  box-shadow: 0px 4px 6px rgba(255, 0, 0, 0.5);
}
.alertTitle {
  color: var(--alertColor);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.closeAlert {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
/* Modal Box */
.modalContainer {
  background-color: var(--backgroundColor);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--whiteColor);
  border-radius: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  max-width: 40%;
  min-height: 30%;
}
.title,
.popupTitle,
.modalTitle {
  color: var(--primaryTextColor);
  margin-top: 2rem;
}
.text,
.popupText,
.modalText {
  color: var(--secondaryTextColor);
  width: 90%;
  margin: auto;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: center;
}
.closeModal-1,
.closePopup {
  margin-bottom: 3rem;
  margin-top: 1rem;
}
/* Popup Box */
.popupContainer {
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
}
.popup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--whiteColor);
  border-radius: 2rem 2rem 0rem 0rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  height: 20rem;
  min-width: 20rem;
}
button:hover {
  background-color: var(--buttonHoverColor);
}
/* Free Action Box */
.freeActionSection {
  background-color: var(--whiteColor);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  position: fixed;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  pointer-events: none;
  border-radius: 2rem;
  min-width: 25%;
  transition: 0.4s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.checkGiffy {
  position: relative;
  width: 5rem;
  height: 5rem;
}
.freeText {
  padding: 1rem;
  color: var(--secondaryTextColor);
  letter-spacing: 1px;
}
@media screen and (max-width:576px) {
  .modal {
    max-width: 70%;
  }
}
@media screen and (max-width:411px) {
  .boxes{
    min-width: 0;
    width: 90%;
  }
  .buttonAlert,
  .buttonModal-1,
  .buttonModal-2,
  .buttonPopup,
  .closeModal-1,
  .closeAlert,
  .closePopup,
  .buttonFree {
    min-width: 7rem;
  }
}